* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}
body {
    height: 100vh;
    color: whitesmoke;
    background-image: url("bgc4.jpg");
    background-size: cover;
    background-position: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.game-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
    
    padding: 3em 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80vw;
    width: 100%;
    max-height: 80vh;
     height: 100%;
    container-type: inline-size;

}
h1 {
    font-size: 4rem;
    color: goldenrod;
    font-weight: bolder;
}
h2 {
    font-size: 2rem;
}
.btn-container {
    display: flex;
    gap: .5em;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;

}
button {
    background-color: goldenrod;
    padding: .67em 2em;
    width: fit-content;
    align-self: center;
    font-weight: bold;
    color: #100700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}
button:hover {
    background-color: #1e1f1f;
    color: goldenrod;
    box-shadow: 0 0 15px rgba(218, 165, 32, 0.6);
}
#draw-card-btn , #surrender-btn {
    display: none;
}
#draw-card-btn:hover {
    background-color: darkgreen;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.4);
}
#surrender-btn:hover {
    background-color: darkred;
    color: goldenrod;
    box-shadow: 0 0 15px rgba(220, 20, 60, 0.4);
}
a {
    color: darkgoldenrod;
}

@media (max-width: 440px) {
    .game-container {
        padding: 1wm;
        height: fit-content;
    }
    h1 {
        font-size: 2rem;

    }
    h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 550px) {

    #cards-el , #sum-el {
        text-align: left;
    }
    button {
        display: block;
        width: 100%;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: calc(1.5rem + 1vw);
    }
}
